<a href="https://colab.research.google.com/github/samantha-olinsky/MA322-Python/blob/main/Intro_Python_as_a_calculator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# comments in Python use the "hashtag" symbol
######### it doesn't really matter how many
## its a personal preference
# Cmnd(or Ctrl) + Foward Slash "/" to toggle a line as a comment


# variables are declared in Python simply by assigning it a value using "="

seconds_in_a_day = 24 * 60 * 60
seconds_in_a_week = 7 * seconds_in_a_day
print(seconds_in_a_week)   # this line will be output

604800

##All About Python Variable Naming
* A variable name must start with a letter or the underscore character "_"
* A variable name CANNOT start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ) <br> (**NO:** @ # $ % & ! ? * )
* Variable names CANNOT contain spaces
* Variable names are case-sensitive (age, Age and AGE are three different variables)

## Using Python for Math

In [ ]:
# you can do classic math operations with python
print(27 + 18)
print(18.4 - 29.7)
print(485 / 3)
print(13 * 7)

# the "%" is used for calculating the remainder
# it will return the remainder when the first num is divided by the second
print(7 % 3)
print(27 % 4)

45
-11.3
161.66666666666666
91
1
3

In [ ]:
# in order to do many functions in python
# we will need to IMPORT the relevant PACKAGES
# (a package is made up of many modules)
# for mathematic functions, we'll import "math"
import math

# now when we use it, we'll call the module by typing "math"
# we need to establish which METHOD we are going to use
# aka, what mathematic function do we want to perform?
x = math.sqrt(10)
print(x)

3.1622776601683795

In [ ]:
# there are tons of mathematic functions we do with "math"
x = math.fabs(-10)     # absolute value
y = math.factorial(5)  # 5 factorial (or 5!)
a = math.log(2)        # natural log of 2
print(x)
print(y)
print(a)

10.0
120
0.6931471805599453

In [ ]:
# something you may have noticed,
# even though the results for print(x) and print(y) 
# are both whole numbers ( 10 and 120 )
# the output for 10 is showing one decimal place

# while they are both numbers,
# the computer actually treats these as two different data types.
# lets take a look.
print(type(x))
print(type(y))

<class 'float'>
<class 'int'>

A "float" data type is a number that contains a decimal point.

A "int" data type is an integer (aka whole number).

(Floats may also be written as scientific notation: `2.54e-8`)

Certain math operations will return integers and other will return floats.

In [ ]:
b = math.pow(2, 3)     # any guesses?

# lets find out
print(b)

8.0

In [ ]:
# as you might notice
# the .pow() method took 2 numbers instead of 1
# the numbers that you pass to the function are called ARGUMENTS

c = math.log(2, 10)    # here, the second argument specifies the base